<div class="flex-container">
    <span class="sidebar-brand">
            {{ config.theme.title_in_menu }}
    </span> 
</div>

<nav class="sidebar-nav">
{% macro nav_loop(page, parents_routable) %}
    {% for p in page.children.visible %}
        {% set active_page = (p.active or p.activeChild) ? 'mm-active' : '' %}
        {% set aria_expanded = (p.active or p.activeChild) ? 'aria-expanded="true"' :  'aria-expanded="false"' %}
        {% set parent_link = parents_routable ? p.url : '#' %}
        {% if p.children.visible.count > 0 %}
            <li class="{{ active_page }}">
                <a href="{{ parent_link }}" class="{{ active_page }} has-arrow" {{aria_expanded}}>
                    {{ p.menu }}
                </a>
                <ul class="{{(p.active or p.activeChild) ? 'mm-show' :  ''}}">
                    {{ _self.nav_loop(p, parents_routable) }} 
                </ul>
            </li>
        {% else %} 
            <li>
                <a href="{{ p.url }}" class="{{ active_page }}" aria-expanded="false">
                    {{ p.menu }}
                </a>
            </li>
        {% endif %}
    {% endfor %}
{% endmacro %}

{% set parents_routable = config.theme.parents_routable %}
<ul class="metismenu"  id="metismenu">
    {{ _self.nav_loop(pages, parents_routable) }}
</ul>
</nav>
